<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@(ViewBag.Title ?? "BootStats")</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="icon" href="favicon.ico" />
        @RenderSection("styles", false)
        <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        @RenderSection("scripts", false)
    </head>
    <body>
        <div class="container">
            @RenderPage("_Navigation.cshtml", skipLayout: true)
            @RenderBody()
        </div>
    </body>
</html>